/**
 *
 * 1. Reposition logo to sit inline and inbetween the other nav links
 */

@import '../../layouts/customProperties.module.css';

.root {
  align-items: center;
  background-color: var(--color-black);
  display: flex;
  height: 100%;
  justify-content: center;
}

.title {
  margin: 0;
  text-align: center;
}

.logo {
  transition: fill var(--transition-time) linear;
}

/* Nav
  ========================================================================== */

.nav {
  max-width: 432px;
  padding: 0 16px;
  width: 100%;
}

.navList {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navListItem {
  flex: 0 1 auto;
}

.navListItemPrime {
  composes: navListItem;
  flex: 0 100%;
  margin-bottom: 32px;
  order: 1;
}

.navListItemBeginning {
  composes: navListItem;
  order: 2;
}

.navListItemEnd {
  composes: navListItem;
  order: 3;
}

@media (--large) { /* 1 */

  .nav {
    margin: 0 64px;
    max-width: 960px;
    padding: 0;
  }

  .navListItemPrime {
    flex: 0 1 auto;
    margin-bottom: 0;
    order: 2;
  }

  .navListItemBeginning { order: 1; }
  .navListItemEnd { order: 3; }
}

/* Nav links
  ========================================================================== */

.navLink {
  font-family: var(--font-family-sans-book);
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 2.2px;
  line-height: 19px;
  margin: 4px;
  padding-bottom: 5px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: color var(--transition-time) linear;
}

.navLinkActive {
  composes: navLink;
  border-bottom: 1px solid currentColor;
}

.navLink::before {
  background-color: currentColor;
  bottom: -1px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0) translate3d(0, 0, 0);
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  width: 100%;
}

.navLink:hover::before {
  transform: scaleX(1) translate3d(0, 0, 0);
  visibility: visible;
}

@media (--medium) {

  .navLink {
    font-size: 13px;
    margin: 0;
  }
}

/* Colour modifiers
  ========================================================================== */

.home { composes: root; }
.home .logo { fill: hotpink; }
.home .navLink { color: hotpink; }

.projects { composes: root; }
.projects .logo { fill: var(--color-projects-cream); }
.projects .navLink { color: var(--color-projects-cream); }

.about { composes: root; }
.about .logo { fill: var(--color-about-blue); }
.about .navLink { color: var(--color-about-blue); }

.shop { composes: root; }
.shop .logo { fill: var(--color-shop-red); }
.shop .navLink { color: var(--color-shop-red); }

.contact { composes: root; }
.contact .logo { fill: var(--color-contact-purple); }
.contact .navLink { color: var(--color-contact-purple); }
