/** @define Header */

.Header {
  background-color: var(--color-black);
  padding: 10px;
  text-align: center;
}

.Header-logo {
  transition: fill 0.5s linear;
}

.Header--home .Header-logo {
  fill: hotpink;
}

.Header--projects .Header-logo {
  fill: var(--color-projects-cream);
}

.Header--about .Header-logo {
  fill: var(--color-about-blue);
}

.Header--shop .Header-logo {
  fill: var(--color-shop-red);
}

.Header--hindsight .Header-logo {
  fill: var(--color-hindsight-purple);
}
