/** @define Header
 *
 * 1. Reposition logo to sit inline and inbetween the other nav links
 */

.Header {
  align-items: center;
  background-color: var(--color-black);
  display: flex;
  height: 100%;
  justify-content: center;
}

.Header-title {
  margin: 0;
  text-align: center;
}

.Header-logo {
  transition: fill var(--transition-time) linear;
}

/* Nav
  ========================================================================== */

.Header-nav {
  max-width: 432px;
  padding: 0 16px;
  width: 100%;
}

.Header-navList {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Header-navListItem {
  flex: 0 1 auto;
}

.Header-navListItem--prime {
  flex: 0 100%;
  margin-bottom: 32px;
  order: 1;
}

.Header-navListItem--beginning { order: 2; }
.Header-navListItem--end { order: 3; }

@media (--large) { /* 1 */

  .Header-nav {
    max-width: 1024px;
    padding: 0 64px;
  }

  .Header-navListItem--prime {
    flex: 0 1 auto;
    margin-bottom: 0;
    order: 2;
  }

  .Header-navListItem--beginning { order: 1; }
  .Header-navListItem--end { order: 3; }
}

/* Nav links
  ========================================================================== */

.Header-navLink {
  font-family: var(--font-family-sans-book);
  font-size: 11px;
  letter-spacing: 2.2px;
  line-height: 19px;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color var(--transition-time) linear;
}

.Header-navLink.is-active,
.Header-navLink:hover {
  text-decoration: underline;
}

@media (--medium) {
  .Header-navLink { font-size: 13px; }
}

/* Colour modifiers
  ========================================================================== */

.Header--home .Header-logo { fill: hotpink; }
.Header--home .Header-navLink { color: hotpink; }

.Header--projects .Header-logo { fill: var(--color-projects-cream); }
.Header--projects .Header-navLink { color: var(--color-projects-cream); }

.Header--about .Header-logo { fill: var(--color-about-blue); }
.Header--about .Header-navLink { color: var(--color-about-blue); }

.Header--shop .Header-logo { fill: var(--color-shop-red); }
.Header--shop .Header-navLink { color: var(--color-shop-red); }

.Header--contact .Header-logo { fill: var(--color-contact-purple); }
.Header--contact .Header-navLink { color: var(--color-contact-purple); }
