/* stylelint-disable rule-properties-order */

:root {

  /* Colours */

  --color-black: #1c1c1a;
  --color-projects-cream: #fff4e0;
  --color-about-blue: #d0e9f2;
  --color-shop-red: #ffecec;
  --color-hindsight-purple: #dee2f1;

  /* Typography */

  --font-family-serif: "PlantinMTPro-Light", Georgia, Times, serif;
  --font-family-sans-book: "P22UndergroundBook", Verdana, Geneva, sans-serif;
  --font-family-sans-demi: "P22UndergroundDemiBold", Verdana, Geneva, sans-serif;
  --font-family-sans-thin: "P22UndergroundThin", Verdana, Geneva, sans-serif;

  --font-weight-normal: 400;

  /* Dimensions */

  --site-width-medium: 640px;
  --site-width-large: 960px;

  /* Transitions */

  --transition-time: 0.3s;
}

/* stylelint-enable */
