/** @define Footer */

.Footer {
  background-color: var(--color-black);
  padding: 40px 10px 10px 10px;
  text-align: center;
}

.Footer-title {
  font-family: var(--font-family-sans-book);
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 2.2px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}

.Footer-list {
  list-style-type: none;
  margin: 0 0 16px 0;
  padding: 0;
}

.Footer-listItem {
  font-family: var(--font-family-sans-thin);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
}

.Footer-emailLink { text-decoration: none; }
.Footer-emailLink:hover { text-decoration: underline; }

/* Colour transitions
  ========================================================================== */

.Footer-title,
.Footer-listItem {
  color: inherit;
  transition: color var(--transition-time) linear;
}

.Footer-emailLink,
.Footer-link {
  color: inherit;
}

/* Colour modifiers
  ========================================================================== */

.Footer--home { color: hotpink; }
.Footer--projects { color: var(--color-projects-cream); }
.Footer--about { color: var(--color-about-blue); }
.Footer--shop { color: var(--color-shop-red); }
.Footer--hindsight { color: var(--color-hindsight-purple); }
