/** @define ProductItem */

.ProductItem {
  padding-top: 32px;
  text-align: center;
}

.ProductItem-title {
  font-family: var(--font-family-serif);
  font-size: 44px;
  line-height: 80px;
  margin: 0;
}

.ProductItem-id {
  font-size: 9px;
}
