/** @define ProductItem */

.ProductItem {
  text-align: center;
}

.ProductItem-title {
  font-family: var(--font-family-serif);
  font-size: 44px;
  line-height: 80px;
}

.ProductItem-id {
  font-size: 9px;
}
