@import url("../../layouts/customProperties.module.css");

.image {
  display: block;
  margin: 16px auto 0;
  width: 100%;
}

.title {
  color: var(--color-black);
  font-family: var(--font-family-title);
  font-size: 38px;
  font-weight: initial;
  letter-spacing: 0;
  line-height: 44px;
  margin-top: 32px;
  text-align: center;
}

.statement {
  list-style-type: none;
  margin: 48px auto 0;
  max-width: 600px;
  padding: 0;
}

.statement:last-child {
  margin-bottom: 32px;
}

.icon {
  display: block;
  height: 22px;
  margin: 0 auto;
  text-align: center;
  width: 26px;
}

.iconFirst {
  composes: icon;
  background: transparent url("/static/images/about-bullet-a.svg") no-repeat;
  width: 21px;
}

.iconSecond {
  composes: icon;
  background: transparent url("/static/images/about-bullet-b.svg") no-repeat;
  width: 21px;
}

.iconThird {
  composes: icon;
  background: transparent url("/static/images/about-bullet-c.svg") no-repeat;
  width: 20px;
}

.iconFourth {
  composes: icon;
  background: transparent url("/static/images/about-bullet-d.svg") no-repeat;
}

.statementCopy {
  color: var(--color-black);
  font-family: var(--font-family-sans-book);
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  text-align: center;
}

.statementHeader {
  color: var(--color-black);
  font-family: var(--font-family-sans-book);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 16px;
  text-align: center;
}

.statement:last-child {
  margin-top: 0;
}

@media (--medium) {

  .title {
    font-size: 48px;
    line-height: 60px;
    margin: 48px auto 0;
    max-width: 960px;
  }

  .image {
    margin-top: 32px;
  }
}
