/** @define ProjectCategories */

.ProjectCategories {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.ProjectCategories-item {
  color: var(--color-black);
  font-family: var(--font-family-serif);
  font-size: 44px;
  line-height: 80px;
}
