/** @define Contact */

.Contact-text {
  color: var(--color-black);
  font-family: var(--font-family-title);
  font-size: 38px;
  line-height: 48px;
  margin-top: 52px;
  text-align: center;
  word-wrap: break-word;
}

.Contact-link {
  color: var(--color-black);
  text-decoration: none;
}

@media (--medium) {

  .Contact-text {
    font-size: 48px;
    line-height: 60px;
  }
}