/** @define Contact */

.Contact-text {
  color: var(--color-black);
  font-family: var(--font-family-title);
  font-size: 38px;
  line-height: 48px;
  margin: 48px 0;
  text-align: center;
  word-wrap: break-word;
}

.Contact-hr {
  border-bottom: 4px solid var(--color-black);
  display: block;
  margin: 0 auto;
  width: 32px;
}

.Contact-link {
  color: var(--color-black);
  text-decoration: none;
}

.Contact-link--credit {
  border-bottom: 1px solid currentColor;
  color: var(--color-black);
  opacity: 1;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.Contact-link--credit:hover {
  opacity: 0.8;
}

.Contact-credits {
  color: var(--color-black);
  font-family: var(--font-family-sans-book);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 16px;
  text-align: center;
}

@media (--medium) {

  .Contact-text {
    font-size: 48px;
    line-height: 60px;
  }
}
