/** @define Chrome
 *
 * 1. During content transitions, some child elements of .Chrome are set to
 * position absolute. This rule ensures that .Chrome's background colour is
 * always fully visible, even when the page is partially scrolled during a
 * transition.
 */

:root {
  --Chrome-header-height: 128px;
  --Chrome-transition-time: calc(var(--transition-time) / 2);
}

.Chrome {
  min-height: 100%; /* 1 */
  position: relative;
  transition: background-color var(--transition-time) linear;
  z-index: 0;
}

.Chrome-header {
  height: var(--Chrome-header-height);
}

.Chrome-contentWrap {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - var(--Chrome-header-height));
  width: 100%;
}

.Chrome-content {
  flex: 1;
  width: 100%;
}

.Chrome-footer {
  margin-top: 32px;
}

/* Colour modifiers
  ========================================================================== */

.Chrome--home { background-color: hotpink; }
.Chrome--projects { background-color: var(--color-projects-cream); }
.Chrome--about { background-color: var(--color-about-blue); }
.Chrome--shop { background-color: var(--color-shop-red); }
.Chrome--hindsight { background-color: var(--color-hindsight-purple); }

/* Content transitions
  ========================================================================== */

.Chrome-transitionEnter {
  opacity: 0.01;
  position: absolute;
  top: var(--Chrome-header-height);
}

.Chrome-transitionEnter.is-enterActive {
  opacity: 1;
  transition: opacity var(--Chrome-transition-time) ease-in;
}

.Chrome-transitionLeave {
  opacity: 1;
  position: absolute;
  top: var(--Chrome-header-height);
}

.Chrome-transitionLeave.is-leaveActive {
  opacity: 0.01;
  transition: opacity var(--Chrome-transition-time)  ease-out;
}
