/** @define Chrome
 *
 * 1. During content transitions, some child elements of .Chrome are set to
 * position absolute. This rule ensures that .Chrome's background colour is
 * always fully visible, even when the page is partially scrolled during a
 * transition.
 */

:root {
  --Chrome-header-height: 128px;
  --Chrome-transition-time: calc(var(--transition-time) / 2);
}

.Chrome {
  background-color: var(--color-white);
  min-height: calc(100% + var(--Chrome-header-height)); /* 1 */
  position: relative;
  z-index: 0;
}

.Chrome-header {
  height: var(--Chrome-header-height);
}

.Chrome-inner {
  width: 100%;
}

.Chrome-content {
  margin-bottom: 240px;
  min-height: 98vh; /* 2 */
  position: relative;
  transition: background-color var(--transition-time) linear;
  width: 100%;
  z-index: 1;
}

.Chrome-footer {
  bottom: 0;
  height: 240px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
}

/* Colour modifiers
  ========================================================================== */

.Chrome--home .Chrome-content { background-color: hotpink; }
.Chrome--projects .Chrome-content { background-color: var(--color-projects-cream); }
.Chrome--about .Chrome-content { background-color: var(--color-about-blue); }
.Chrome--shop .Chrome-content { background-color: var(--color-shop-red); }
.Chrome--hindsight .Chrome-content { background-color: var(--color-hindsight-purple); }

/* Content transitions
  ========================================================================== */

.Chrome-transitionEnter {
  opacity: 0.01;
  position: absolute;
  top: var(--Chrome-header-height);
}

.Chrome-transitionEnter.is-enterActive {
  opacity: 1;
  transition: opacity var(--Chrome-transition-time) ease-in;
}

.Chrome-transitionLeave {
  opacity: 1;
  position: absolute;
  top: var(--Chrome-header-height);
}

.Chrome-transitionLeave.is-leaveActive {
  opacity: 0.01;
  transition: opacity var(--Chrome-transition-time)  ease-out;
}
