/** @define ProjectItem */

.ProjectItem {
  padding-top: 32px;
}

.ProjectItem-title {
  font-family: var(--font-family-title);
  font-size: 48px;
  line-height: 56px;
  margin: 0;
  text-align: center;
}

.ProjectItem-content {
  border-bottom: 2px solid var(--color-black);
  margin-top: 32px;
  padding-bottom: 32px;
}

.ProjectItem-description {
  font-family: var(--font-family-sans-book);
  font-size: 16px;
  line-height: 24px;
}

.ProjectItem-descriptionBorder {
  border-bottom: 1px solid var(--color-black);
  display: block;
  height: 1px;
  margin-top: 32px;
  width: 60px;
}

.ProjectItem-credits {
  color: var(--color-black);
  font-family: var(--font-family-serif-italic);
  font-size: 17px;
  line-height: 24px;
  margin-top: 32px;
}

.ProjectItem-url {
  color: var(--color-black);
  display: block;
  font-family: var(--font-family-sans-book);
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 14px;
  margin-top: 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.ProjectItem-url::before {
  background: transparent url("/static/images/circle.svg") no-repeat;
  content: "";
  display: block;
  float: left;
  height: 11px;
  margin-right: 6px;
  transition: all 0.3s ease;
  width: 11px;
}

.ProjectItem-url:hover::before,
.ProjectItem-url:active::before {
  background: transparent url("/static/images/circle-fill.svg") no-repeat;
}

.ProjectItem-imageList {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

.ProjectItem-image {
  margin-top: 16px;
}

.ProjectItem-imageItem {
  width: 100%;
}

@media (--medium) {

  .ProjectItem-content {
    align-items: top;
    display: flex;
    justify-content: space-between;
  }

  .ProjectItem-descriptionBorder {
    display: none;
  }

  .ProjectItem-contentInner {
    flex: 0 calc(50% - 16px);
  }

  .ProjectItem-credits {
    margin-top: 0;
  }
}

/* Nav (next / previous)
  ========================================================================== */

.ProjectItem-nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 16px;
}

.ProjectItem-navLink {
  color: var(--color-black);
  font-family: var(--font-family-sans-book);
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 14px;
  margin-top: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.ProjectItem-navLink--previous {
  order: 2;
}

.ProjectItem-navLink--previous::before {
  background: transparent url("/static/images/triangle-left.svg") no-repeat;
  content: "";
  display: block;
  float: left;
  height: 11px;
  margin-right: 6px;
  transition: all 0.3s ease;
  width: 11px;
}

.ProjectItem-navLink--previous:hover::before,
.ProjectItem-navLink--previous:active::before {
  background: transparent url("/static/images/triangle-left-fill.svg") no-repeat;
}

.ProjectItem-navLink--next {
  order: 3;
}

.ProjectItem-navLink--next::after {
  background: transparent url("/static/images/triangle.svg") no-repeat;
  content: "";
  display: block;
  float: right;
  height: 11px;
  margin-left: 6px;
  transition: all 0.3s ease;
  width: 11px;
}

.ProjectItem-navLink--next:hover::after,
.ProjectItem-navLink--next:active::after {
  background: transparent url("/static/images/triangle-fill.svg") no-repeat;
}

.ProjectItem-navHr {
  border-bottom: 1px solid var(--color-black);
  order: 1;
  width: 100%;
}

@media (--medium) {

  .ProjectItem-navLink--previous,
  .ProjectItem-navLink--next {
    font-size: 13px;
  }
}
