/** @define ProjectItem */

.ProjectItem {
  padding-top: 32px;
  text-align: center;
}

.ProjectItem-title {
  font-family: var(--font-family-serif);
  font-size: 44px;
  line-height: 80px;
  margin: 0;
}

.ProjectItem-id {
  font-size: 9px;
}
