/** @define App
 *
 * 1. Sticky footer https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: background-color var(--transition-time) linear;
}

.App-header,
.App-footer {
  flex: none;
}

.App-inner {
  flex: 1 0 auto; /* 1 */
}

/* Colour modifiers
  ========================================================================== */

.App--home {
  background-color: hotpink;
}

.App--projects {
  background-color: var(--color-projects-cream);
}

.App--about {
  background-color: var(--color-about-blue);
}

.App--shop {
  background-color: var(--color-shop-red);
}

.App--hindsight {
  background-color: var(--color-hindsight-purple);
}
