/** @define App */

.App {
  height: 100%;
  transition: background-color 0.5s linear;
}

.App-title {
  margin: 0;
  padding: 10px;
}

.App--home {
  background-color: hotpink;
}

.App--projects {
  background-color: var(--color-projects-cream);
}

.App--about {
  background-color: var(--color-about-blue);
}

.App--shop {
  background-color: var(--color-shop-red);
}

.App--hindsight {
  background-color: var(--color-hindsight-purple);
}
