/** @define About */

.About-image {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.About-title {
  color: var(--color-black);
  font-family: var(--font-family-serif);
  font-size: 28px;
  line-height: 32px;
  margin-top: 52px;
  text-align: center;
}

.About-statement {
  list-style-type: none;
  margin: 48px auto 0;
  max-width: 512px;
  padding: 0 16px;
}

.About-statementIcon {
  background: transparent url("/static/images/about-bullet-a.svg") no-repeat;
  display: block;
  height: 22px;
  margin: 0 auto;
  text-align: center;
  width: 22px;
}

.About-statementCopy {
  color: var(--color-black);
  font-family: var(--font-family-sans-book);
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
  text-align: center;
}
