/** @define About */

.About-image {
  display: block;
  margin: 16px auto 0;
  width: 100%;
}

.About-title {
  color: var(--color-black);
  font-family: var(--font-family-title);
  font-size: 38px;
  letter-spacing: 0;
  line-height: 48px;
  margin-top: 32px;
  text-align: center;
}

.About-statement {
  list-style-type: none;
  margin: 48px auto 0;
  max-width: 592px;
  padding: 0;
}

.About-statement:last-child {
  margin-bottom: 32px;
}

.About-icon {
  display: block;
  height: 22px;
  margin: 0 auto;
  text-align: center;
  width: 26px;
}

.About-icon--first {
  background: transparent url("/static/images/about-bullet-a.svg") no-repeat;
  width: 21px;
}

.About-icon--second {
  background: transparent url("/static/images/about-bullet-b.svg") no-repeat;
  width: 21px;
}

.About-icon--third {
  background: transparent url("/static/images/about-bullet-c.svg") no-repeat;
  width: 20px;
}

.About-icon--fourth {
  background: transparent url("/static/images/about-bullet-d.svg") no-repeat;
}

.About-statementCopy {
  color: var(--color-black);
  font-family: var(--font-family-sans-book);
  font-size: 16px;
  line-height: 22px;
  margin-top: 16px;
  text-align: center;
}

@media (--medium) {

  .About-title {
    font-size: 48px;
    line-height: 60px;
    margin: 48px auto 0;
    max-width: 960px;
  }

  .About-image {
    margin-top: 32px;
  }
}
