.root {
  height: 100%;
  transition: background-color 0.5s linear;
}

.title {
  padding: 10px;
  margin: 0;
}

/* section backgrounds
  ========================================================================== */

.section-home {
  composes: root;
  background-color: #D0E9F2;
}

.section-projects {
  composes: root;
  background-color: #FFF4E0;
}

.section-about {
  composes: root;
  background-color: #D0E9F2;
}

.section-shop {
  composes: root;
  background-color: #F8DFDF;
}

.section-hindsight {
  composes: root;
  background-color: #FFF4E0;
}
