/** @define ProjectList */

.ProjectList {
  list-style-type: none;
  margin-top: 5px;
  padding: 0;
}

.ProjectList-item {
  padding: 0;
}

.ProjectList-link {
  color: var(--color-black);
  font-family: var(--font-family-serif);
  font-size: 24px;
  letter-spacing: -0.06px;
  line-height: 40px;
  text-decoration: none;
}
