/** @define ProjectList */

.ProjectList {
  list-style-type: none;
  margin-top: 5px;
  padding: 0;
}

.ProjectList-item {
  padding: 0;
}

.ProjectList-link {
  color: var(--color-black);
  font-family: var(--font-family-serif-italic);
  font-size: 22px;
  line-height: 32px;
  opacity: 1;
  text-decoration: none;
  transition: opacity .4s ease;
}

.ProjectList-link:hover {
  opacity: .85;
}
