/**
 *
 * 1. During content transitions, some child elements of .Chrome are set to
 * position absolute. This rule ensures that .Chrome's background colour is
 * always fully visible, even when the page is partially scrolled during a
 * transition.
 */

@import './customProperties.module.css';

:root {
  --Chrome-header-height: 128px;
  --Chrome-transition-time: calc(var(--transition-time) / 2);
}

.root {
  min-height: 100%; /* 1 */
  position: relative;
  transition: background-color var(--transition-time) linear;
  z-index: 0;
}

.header {
  height: var(--Chrome-header-height);
}

.contentWrap {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--Chrome-header-height));
  width: 100%;
}

.content {
  flex: 1;
  margin: 0 auto;
  width: calc(100% - 32px);
}

.footer {
  margin: 32px 16px 20px 16px;
}

/* Colour modifiers
  ========================================================================== */

.home { composes: root; background-color: hotpink; }
.projects { composes: root; background-color: var(--color-projects-cream); }
.about { composes: root; background-color: var(--color-about-blue); }
.shop { composes: root; background-color: var(--color-shop-red); }
.contact { composes: root; background-color: var(--color-contact-purple); }

/* Content transitions
  ========================================================================== */

.transitionEnter {
  opacity: 0.01;
  position: absolute;
  top: var(--Chrome-header-height);
}

.isEnterActive {
  composes: transitionEnter;
  opacity: 1;
  transition: opacity var(--Chrome-transition-time) ease-in;
}

.transitionLeave {
  opacity: 1;
  position: absolute;
  top: var(--Chrome-header-height);
}

.isLeaveActive {
  composes: transitionLeave;
  opacity: 0.01;
  transition: opacity var(--Chrome-transition-time)  ease-out;
}

/* Responsive layout changes
  ========================================================================== */

@media (--medium) {

  .content {
    width: calc(100% - 64px);
  }
}

@media (--large) {

  .content {
    width: calc(100% - 128px);
  }
}

@media (--xlarge) {

  .content {
    max-width: 1200px;
  }
}
