/** @define Projects */

.Projects {
  list-style-type: none;
  margin-top: 0;
  padding: 32px 0 0 0;
  text-align: center;
}

.Projects-item {
  color: var(--color-black);
  font-family: var(--font-family-serif);
  font-size: 44px;
  line-height: 80px;
}
