/** @define ImageLoader */

.ImageLoader {
  background-color: color(var(--color-white) lightness(-20%));
}

.ImageLoader--projects {
  background-color: color(var(--color-projects-cream) lightness(-6%));
}

.ImageLoader--about {
  background-color: color(var(--color-about-blue) lightness(-6%));
}

.ImageLoader--shop {
  background-color: color(var(--color-shop-red) lightness(-6%));
}

.ImageLoader--contact {
  background-color: color(var(--color-contact-purple) lightness(-6%));
}

.ImageLoader-image {
  opacity: 0;
  transition: opacity 0.3s;
}

.ImageLoader-image.is-loaded {
  opacity: 1;
}
