/** @define Products */

.Products {
  list-style-type: none;
  margin: 0;
  padding: 32px 0 0 0;
}

.Products-item {
  margin-top: 32px;
  text-align: center;
}

.Products-itemLink {
  display: block;
  text-decoration: none;
}

.Products-itemName {
  color: var(--color-black);
  font-family: var(--font-family-sans-demi);
  font-size: 18px;
  line-height: 24px;
  margin: 16px 0 0 0;
}

.Products-itemPrice {
  color: var(--color-black);
  font-family: var(--font-family-sans-thin);
  font-size: 18px;
  line-height: 24px;
  margin: 8px 0 0 0;
}
