/** @define Products */

.Products {
  list-style-type: none;
  padding: 0;
}

.Products-item {
  text-align: center;
}

.Products-itemLink {
  text-decoration: none;
}

.Products-itemName {
  color: var(--color-black);
  font-family: var(--font-family-sans-demi);
  font-size: 18px;
  line-height: 24px;
}

.Products-itemPrice {
  color: var(--color-black);
  font-family: var(--font-family-sans-thin);
  font-size: 18px;
  line-height: 24px;
}
