/** @define Products */

.Products {
  list-style-type: none;
  margin: 0;
  padding: 32px 0 0 0;
}

.Products-item {
  margin-top: 32px;
  text-align: center;
}

.Products-item:first-child {
  margin-top: 0;
}

.Products-itemLink {
  display: block;
  text-decoration: none;
}

.Products-itemImage {
  width: 288px;
}

.Products-itemName {
  color: var(--color-black);
  font-family: var(--font-family-sans-demi);
  font-size: 18px;
  line-height: 26px;
  margin: 16px 0 0 0;
}

.Products-itemPrice {
  color: var(--color-black);
  font-family: var(--font-family-sans-book);
  font-size: 18px;
  font-weight: 100;
  line-height: 26px;
  margin: 0;
}

@media (--medium) {

  .Products {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .Products-item {
    margin: 0 16px;
  }
}
