/** @define Category */

.Category {
  counter-increment: project;
  padding-top: 48px;
  position: relative;
}

.Category::before {
  color: var(--color-black);
  content: counter(project, decimal-leading-zero);
  counter-increment: li;
  font-family: var(--font-family-sans-book);
  font-size: 12px;
  letter-spacing: 1px;
  position: absolute;
  top: 32px;
}

.Category-title {
  color: var(--color-black);
  font-family: var(--font-family-title);
  font-weight: initial;
  font-size: 48px;
  letter-spacing: 0;
  margin: 0;
}

.Category-title:hover {
  cursor: pointer;
}
